* {
    font-family: Helvetica;
    font-weight: lighter;
}

body {
    width: 80%;
    margin: auto;
}

a {
    color: black;
}

a:hover {
    color: black;
}

div.content {
    background-color: #E8E8E8;
    border-radius: 0 0 5px 5px;
    padding: 0 1em 1em 1em;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li.nav {
    color: white;
    display: inline;
    text-align: center;
}

li.left {
    float: left;
}

li.right {
    float: right;
}

a.btn {
    color: white;
    background-color: rgb(88, 156, 252);
    padding: 1em;
    width: 125px;
    text-decoration: none;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(88, 156, 252);
}

button.close {
    position: absolute;
    top: 0;
    right: 0;
}

a.left {
    margin: 0 1em 0 0;
    display: block;
}

a.right {
    margin: 0 0 0 1em;
    display: block;
}

.image {
    text-decoration: none;
}

a.btn:hover {
    text-decoration: underline;
    background-color: rgb(74, 122, 225);
}

div.nav {
    background-color: rgb(43, 62, 115);
    padding: 1em;
    border-radius: 0 0 5px 5px;
}

div.info {
    width:60%;
    background-color: #CACACA;
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.5em;
    position: relative;
}

div.buttons {
    text-align: center;
    width:400px;
}

table.front {
    padding: 1em;
    text-align: center;
    table-layout: fixed;
    width: 100%;
}

th {
    padding: 3em;
    padding-top: 1em;
}

.half {
    width: 50%;
}

ul.no-dec {
    list-style-type: none;
}

button.close {
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    width: 2.5em;
    background-color: #A7A7A7;
    border-color: #A7A7A7;
    border-style: solid;
}

button.close:hover {
    background-color: #959595;
}

div.infobox {
    background-color: #CACACA;
    color: black;
    border-radius: 5px;
    padding: 1em;
    margin: 1em;
}
