* {
    font-family: Open Sans;
    font-weight: lighter;
}

body {
    width: 80%;
    margin: auto;
}

a {
    color: black;
}

a:hover {
    color: black;
}

div.content {
    background-color: rgb(232,232,232);
    border-radius: 0 0 5px 5px;
    padding: 0 1em 1em 1em;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li.nav {
    color: white;
    display: inline;
    text-align: center;
}

li.left {
    float: left;
}

li.right {
    float: right;
}

a.nav {
    color: white;
    display: block;
    background-color: rgb(88, 156, 252);
    padding: 1em;
    width: 125px;
    text-decoration: none;
    border-radius: 5px;
}

a.left {
    margin: 0 1em 0 0;
}

a.right {
    margin: 0 0 0 1em;
}

.image {
    text-decoration: none;
}

a.nav:hover {
    text-decoration: underline;
    background-color: rgb(74, 122, 225);
}

div.nav {
    background-color: rgb(43, 62, 115);
    padding: 1em;
    border-radius: 0 0 5px 5px;
}
